*.tar.gz
*.o
*.lo
*.log
/config.*
Makefile
Makefile.in
.deps
check_all
check_db
check_http
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.libs
src/classifier
src/cls_bench
*.la
src/git_revision.h
stamp-h1
.DS_Store
.gdb_history
database
tests/fixtures/valid-copy.db
tests/fixtures/copy.db
classifier.pid
